/* Reset CSS */
/* CSS Document */
/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

/* CSS Document */
@font-face {
    font-family: "Verlag Light";
    src: url("../resources/fonts/Verlag/Verlag-Light.otf")
}

@font-face {
    font-family: "Verlag Book";
    src: url("../resources/fonts/Verlag/Verlag-Book.otf")
}

@font-face {
    font-family: "Verlag Black";
    src: url("../resources/fonts/Verlag/Verlag-Black.otf")
}


.labels {
    font-family: Verlag Book, Arial, Sans Serif;
    font-size: 18px;
    color: #3f3f3c;
}

#prelike {
margin: auto;
width: 810px;
height: 900px;
background: url(../imagenes/prelike.png);
}

#click-like{
display:block;
width:381px;
height:140px;
background:url(../imagenes/clic-like.png) no-repeat;
float:right;
}

#listo-jugar{
position: absolute;
top: 365px;
height:37px;
width:390px;
padding-top: 25px;
}

#listo-jugar p{
margin: 0 30px 0 30px;
}

#listo-jugar h1{
margin-top: -10px;
}

#listo-jugar #hr{
width: 380px;
height:2px;
background:url(../imagenes/hr.png) repeat-x;
}

#wrapper{
margin: auto;
width: 810px;
height: 900px;
background:url(../imagenes/bg.png) no-repeat;
}

#titulo{
width: 405px;
height: 50px;
display: block;
float: right;
padding: 80px 95px 80px 0;
}
#survey {
height: 625px;
width: 549px;
margin-left: 16px;
margin-top: 23px;
margin-right: 10px;
display: block;
float: left;
}
#sidebar {
height: 625px;
width: 230px;
margin-top: 0px;
display: block;
float: left;
}



#instrucciones {
height:160px;
width:810px;
display: block;
float: left;
background: #FFF;
}

#footer-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fcfbfa;
    text-align: center;
    font-weight: bold;
}

#footer h2 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fcfbfa;
    text-align: center;
    font-weight: bold;
}

.titles {
    font-family: Verlag Light, "Linux Libertine G", "Lucida Calligraphy";
    font-size: 36px;
    color: #5f5f5f;
    text-align: center;
text-transform:uppercase;

}

.titles-18{
	font-family: Verlag Light, "Linux Libertine G", "Lucida Calligraphy";
    font-size: 18px;
    color: #5f5f5f;
    text-align: center;
text-transform:uppercase;
}

.paragraphs {
    font-family: Verlag Book, Arial, Sans Serif;
    font-size: 18px;
    color: #3f3f3c;
}

.paragraphs-12 {
    font-family: Verlag Book, Arial, Sans Serif;
    font-size: 12px;
    color: #3f3f3c;
}
.paragraphs-15 {
    font-family: Verlag Book, Arial, Sans Serif;
    font-size: 12px;
    color: #3f3f3c;
}

.information{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #fcfbfa;
    text-align: center;

}

#console-tv{
background:url(../imagenes/console-tv.png) no-repeat;
width:405px;
height:442px;
position:relative;
z-index:1;
top:350px;
left:404px;	
}

#couch-friends{
background:url(../imagenes/couch-friends.png) no-repeat;
width:342px;
height:269px;
position:relative;
top:135px;
z-index:0;
}

#titulo-instrucciones {
width: 620px;
height: 76px;
background: url(../imagenes/titulo-instrucciones.png);
}

#texto-instrucciones {
padding: 12px 7px;
width: 635px;
height: 182px;
display: block;
}


#contenedor-boton-iniciar {
height: 94px;
width: 634px;
display: block;
}

.boton-iniciar {
height: 37px;
width:192px;
background: url(../imagenes/button.png);
margin: auto;
}

.texto-botones {
font-family: Fondamento, "Linux Libertine G", "Lucida Calligraphy";
font-size: 30px;
color: #000;
text-align: center;
}

.imagen-campana-peq{
margin: 120px auto 30px auto;
background:url(../imagenes/img-campana2.png);
width: 293px;
height: 323px;
}

#footer {
    display: block;
    padding-top: 15px;
    height: 50px;
    width: 810px;
    position: absolute;
    top: 835px;
}

/* Encuesta .=clase #=id */
.question2{
	display: none;
}

.question{
	margin: 0px 0px 0px 0px;
}

#choices{
	display: inline-block;
	margin: 0px 0px 20px 0px;
}

.question2 #choices{
	display: inline-block;
	margin: 0px 0px 10px 0px;
}

.choice{
	display: inline-block;
	margin: 0px 0px 0 20px;
	background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);
}

.contenedor-boton-encuesta{
	font-family: Verlag Black, Arial, Sans Serif;
	height: 25px;
	width: 150px;
	display: inline-block;
	background: #ae1219;
	border-radius: 32px;
	position: relative;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #84261a;
	-moz-box-shadow: 0px 9px 0px #84261a;
	box-shadow: 0px 9px 0px #84261a;
	font-size: 26px;
	padding-top: 5px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	padding-bottom: 40px;
	margin-top: 0px;
}

.contenedor-boton-encuesta-enviar{
	left: 50px;
}

.contenedor-boton-encuesta:active{
-webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
	top: 7px;
}

/********************************************************************************/

#sugerencias {
height: 625px;
width: 549px;
margin-left: 16px;
margin-top: 23px;
margin-right: 10px;
display: block;
float: left;
}

#titulo.titulo-sugerencias{
	padding: 40px 90px 110px 0;
	width: 420px;
}



.sugerencia{
	display: block;
	float: left;
	height: 145px;
	width: 185px;
	margin: 0 45px 25px 44px;
}

input[type="radio"] + label
{
    display:inline-block;
}


#choose-console h2{
	font-family: Verlag Light, "Linux Libertine G", "Lucida Calligraphy";
    font-size: 22px;
    color: #5f5f5f;
    text-align: center;
text-transform:uppercase;
}

#consoles-select{
	
	margin-left: 1px;
	margin-top: 4px;
	padding: 0;
}

#consoles-select option{
	text-align: center;
}

input[type="radio"], 
input[type="checkbox"] { 
    position: absolute; left: -999em; 
}

input[type="radio"] + label:before, 
input[type="checkbox"] + label:before { 
    content:''; /* this is generated content*/ 
    display: inline-block; /* make this fake elements inline block */
    position:relative; /* we need to move the element without effecting the doc flow */
    top:0.25em;  /* we're moving it slightly down for alignment purposes */
    left:-2px; /* we're moving it slightly to the left */
    width:25px; height:25px; /* the width and height of the fake elements */
    background-image:url(../imagenes/formelements.png); /* the background image sprite */
}

input[type="checkbox"] + label:before { background-position: 0 -25px;} input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }
input[type="radio"] + label:before { background-position: -25px -25px;} input[type="radio"]:checked + label:before { background-position: -25px 0;}

div.styled { 
    overflow:hidden; /* this hides the select's drop button */
    padding:0; 
    margin:0; 
    background: white url(../imagenes/formelements-select.png) no-repeat bottom right; 
    /* this is the new drop button, in image form */
    width:8em; border-radius:10px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    border: solid 1px #ccc; 
	position: relative;
	left: 45px;
}

div.styled select { 
    width:115% /* this percentage effectively extends the drop down button out of view */; 
    background-color:transparent /* this hides the select's background making any styling visible from the div */; 
    background-image:none; 
    -webkit-appearance: none /* this is required for Webkit browsers */; 
    border:none; 
    box-shadow:none; 
    padding:0.3em 0.5em; /* padding should be added to the select, not the div */
}

#contenedor-boton{
font-family: Verlag Black, Arial, Sans Serif;
height: 39px;
width: 210px;
display: block;
background: #ae1219;
border-radius: 32px;
position: relative;
left: 160px;
-webkit-transition: all 0.1s;
-moz-transition: all 0.1s;
transition: all 0.1s;
-webkit-box-shadow: 0px 9px 0px #84261a;
-moz-box-shadow: 0px 9px 0px #84261a;
box-shadow: 0px 9px 0px #84261a;
font-size: 26px;
padding-top: 5px;
color: #FFF;
text-decoration: none;
text-align: center;
padding-bottom: 5px;
margin-top: 130px;
}

#contenedor-boton:active{

-webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
	top: 7px;
}

#share-obligation{
	position: relative;
top: 20px;
left: 110px;
}


#contenedor-boton-intro{
font-family: Verlag Black, Arial, Sans Serif;
height: 39px;
width: 210px;
display: block;
background: #ae1219;
border-radius: 32px;
position: relative;
bottom: 350px;
left: 90px;
-webkit-transition: all 0.1s;
-moz-transition: all 0.1s;
transition: all 0.1s;
-webkit-box-shadow: 0px 9px 0px #84261a;
-moz-box-shadow: 0px 9px 0px #84261a;
box-shadow: 0px 9px 0px #84261a;
font-size: 26px;
padding-top: 5px;
color: #FFF;
text-decoration: none;
text-align: center;
padding-bottom: 5px;
margin-top: 130px;
}

#contenedor-boton-intro:active{

-webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
	bottom: 343px;
}