/nbproject/private/
_notes/
_notes/*
css/_notes/
css/_notes/*
Connections/_notes/
Connections/_notes/*
admin/_notes/
admin/_notes/*
entities/_notes/
entities/_notes/*
imagenes/_notes/
imagenes/_notes/*